@font-face {
    font-family: 'hk_groteskbold';
    src: url('HK-frotesk/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('HK-frotesk/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    color: black;
    width: 100%;
	height: 100%;
    font-family: 'hk_groteskbold', sans-serif;
    font-weight: bold;
    overflow: auto;
    background: url(background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bio {
    font-family: 'hk_groteskbold', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

#note {
    font-family: 'Open Sans', sans-serif;
    font-size:10px
}

#description {
    font-family: 'hk_groteskbold', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}


a {
    color: black;
    background-color: black;
    text-decoration: none;
}

a:link { color:black; text-decoration: none;}
a:visited { color:black; text-decoration: none;}
a:focus { color:black; text-decoration: none;}
a:hover { color:black; text-decoration: none;}
a:active { color:black; text-decoration: none;}

.UCLAblue {
    color:#2774AE
}

.UCLAgold {
    color:#FFD100
}

.rounded_corners {
    border-radius: 10px;
}

.profile_img {
    width:14rem;
    object-fit: cover;
}

.my-row {
    justify-content: center;
}

